body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin-inline: 1rem;
  padding: 20px;
  text-align: center;
}
#meal-name {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}
#change-meal {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}
#change-meal:hover {
  background-color: #45a049;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.tag {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.tag:hover {
  opacity: 1;
}
#all-tags-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
#all-tags-container .all-tag {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
#all-tags-container .all-tag:hover {
  opacity: 0.8;
}
